html,body {
    font-size: 16px;
}

form .form-group input {
    border-radius: 10px;
    padding: 10px;
}

form input[type="submit"], form input[type="button"] {
    border-radius: 10px;
}

.wallet-card {
    border: none;
    border-radius: 10px;
    min-width: 80%;
    width: 100%;
    font-size: 19pt;
}

.wallet-history .notice {
    color: #333333;
    width: 80%;
    max-width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding: 7px;
    position: relative;
    overflow: hidden;
}

.wallet-history .notice:nth-child(odd) {
    background: #eeeeee;
    border-radius: 2.5px;
}

.line {
    display:inline;
}

.notice-text {
    overflow: hidden;
}

.notice-amount {
    position: absolute;
    right: 30px;
    overflow: hidden;
}

.notice-delete {
    position: absolute;
    right: 10px;
    overflow: hidden;
    color: #949494;
    font-family: monospace;
    text-decoration: none;
}

.notice-delete:hover {
    color: #dd4242;
    cursor: pointer;
}